@media screen and (max-width: 1100px){
  .wrapper {
    width: 90%;
  }
  
  #social {
    position: absolute;
    width: auto;
    margin: 72px 4px 0 0
  }
}

@media screen and (max-width: 900px){
  body { 
    font-size: 85%;
  }
  
  #logo, h1 {
    height: 35px;
    width: 35px;
  }
  
  #logo, h2{
    font-size: 2.2em;
  }
  
  .col-3 p {
    
  }
}